* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
  }
  
  .container {
    position: relative;
    height: 100%;
    border: 2px solid black;
  }
  
  .center {
    font-family: 'technologyitalic', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #66FFCC	;
    font-size:188pt;
    text-align: center;
  }